html {
  scroll-behavior: smooth;
}

body {
  background-color: #222222;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding-bottom: 40px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: white; 
  color: black; 
  text-align: center;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color: #caaa76;
  color: white
}



/* Header */

.header {
  width: 100%;
  height: 80px;
  background: none;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#111111, transparent);
}

.header_logo img{
  margin-top: 50px;
  margin-left: 20px;
  border: 0px;
}

.nav_bar {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

/* Best movie */

.best {
  height: 400px;
  display: block;
  flex-direction: column;
  background-image: url(images/dust.jpg);
  background-size: cover;
  padding: 180px 200px 180px 150px;
}

.best_movie_title {
  font-size: 45px;
  font-weight: bold;
}

.button {
  display: inline-block;
  font-size: 18px;
  width: 120px;
}

.best_movie_description p{
  margin-right: 50%;
  margin-top: 40px;
  text-align: justify;
  line-height: 150%;
  font-style: italic;
}

.best_movie_cover img{
  width: 200%;
  max-width: 250px; 
  float: right;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 15px black)
}



/* Categories */

.category {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}

.category1, .category2, .category3 {
  margin-top: 50px
}

.category h2{
  width: 95%;
  font-size: 25px;
  margin-left: 30px;
  margin-top: 60px;
  margin-bottom: 50px
}

.arrow_left, .arrow_right {
  background-color: #222222;
  color: white; 
  display: inline;
  font-size: 40px;
  padding: 0px 50px 0px 50px;
}

.arrow_left:hover, .arrow_right:hover {
  background-color: #222222;
  font-size: 50px;
}

.carrousel {
  list-style: none;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.carrousel-item {
  position: relative;
  height: 80%;
  width: 50%;
  margin: 0 40px 0 0;
  border-radius: 20px;
  position: relative;
  left: 0;
  transition: 0.8s;
}

.carrousel-item img{
  opacity: 1;
  display: block;
  max-height: 400px;
  float: right;
  border-radius: 10px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carrousel-item:hover img{
  opacity: 0.3;
}

.carrousel-item:hover .overlay{
  opacity: 1;
}

.overlay p{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 60px
}

.overlay_button{
  font-size: 13px;
  width: 60px;
}



/* Modal */

.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0,0,0,0.4);
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background-color: #222222;
  margin: 5% auto;
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  width: 80%;
}

.best_movie_cover img{
  border-radius: 10px;
  margin-right: 150px;
  margin-top: 80px;
  filter: drop-shadow(10px 10px 15px #111111)
}

.modal-content h3{
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
}

.metadata {
  margin-right: 10px;
  font-size: 14px;
  margin-top: 0;
  font-weight: bold;
}

.genres, strong {
  color: #caaa76;
}

.modal_button {
  font-size: 14px;
  margin-left: 30px;
  margin-top: 20px;
  width: 80px;
}

.best_movie_info {
  font-size: 13px;
  margin-right: 50%;
  margin-left: 30px;
  text-align: justify;
}

.plot {
  font-style: italic;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
}