html {
  scroll-behavior: smooth;
}

body {
  background-color: #111111;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  transition: all 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #caaa76;
  color: white;
  border: none;
}



/* Header */

.header {
  width: 100%;
  height: 80px;
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(#000000, transparent);
}

.header_logo img{
  width: 70%;
  margin-top: 10px;
  margin-left: 20px;
}

.nav_bar {
  list-style: none;
  display: flex;
  margin-right: 10px;
}

.nav a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  transition: all 0.2s;
}

.nav a:hover {
  font-weight: bold;
}



/* Best movie */

.best {
  background-image: url(images/dust.jpg);
  background-size: cover;
  padding: 150px 200px 180px 200px;
}

.best_movie_title {
  font-size: 45px;
}

.button {
  font-size: 18px;
  width: 120px;
}

.best_movie_description p{
  margin-right: 60%;
  margin-top: 3%;
  line-height: 180%;
  font-style: italic;
}

.best-cover img{
  width: 40%;
  max-width: 280px;
  min-width: 200px;
  float: right;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}



/* Categories */

.categories {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#222222, #111111);
}

.container {
  width: 1200px;
}

.container h2 {
  font-size: 26px;
}




/* Carrousel */

.carrousel--container {
  height: 430px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carrousel--content {
  display: flex;
  position: absolute;
  top: 300px;
  bottom: -390px;
  left: 0px;
  transform: translateY(-50%);
  transition: all 0.7s ease;
}

.box {
  width: 200px;
  margin-right: 70px;
}

.box img{
  width: 240px;
  border-radius: 10px;
  transition: .5s ease;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.btn {
  background-color: #222222;
  color: white;
  height: 370px;
  font-size: 36px;
  position: absolute;
  width: 40px;
  transform: translateY(-50%) scale(0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s ease;
}

.btn.show {
  transform: translateY(-50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.btn.left {
  left: 0;
}

.btn.right {
  right: 0;
}




/* Overlay */

.overlay {
  transition: .5s ease;
  opacity: 0;
  transform: translate(10%, -180%);
  text-align: center;
}

.box:hover img{
  opacity: 0.2;
}

.box:hover .overlay{
  opacity: 1;
}

.overlay p{
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 60px
}

.overlay_button{
  font-size: 13px;
  width: 62px;
}




/* Modal */

.modal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.modal-content {
  background-color: #222222;
  margin: 5% auto;
  padding: 30px 30px 60px 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 1500px;
  min-height: 350px;
}

.modal_cover_image img{
  height: 340px;
  border-radius: 10px;
  margin-right: 120px;
  margin-top: 1%;
  float: right;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.modal-content h3{
  display: inline-block;
  font-size: 24px;
}

.modal_button {
  font-size: 14px;
  margin-left: 30px;
  width: 80px;
}

.modal_movie_info {
  font-size: 15px;
  margin-right: 40%;
  margin-left: 30px;
}

.metadata {
  font-weight: bold;
}

.modal-content p {
  display: inline;
  line-height: 150%;
}

.genres, strong {
  color: #caaa76;
}

.plot {
  font-style: italic;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
}